AndroidNougatEasterEgg/.bazelproject
AndroidNougatEasterEgg/.blaze
AndroidNougatEasterEgg/.idea
teleport_cats/abe.jar
teleport_cats/adb
teleport_cats/com.android.egg.ab
teleport_cats/com.covertbagel.neko.ab
workspace/bazel-*
workspace/gen
